@using ASP.NETCore_Training.Models
@model IEnumerable<Products>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>

    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">
            <i class="fas fa-plus-circle"></i> Add new Product
        </a>
    </div>
</div>
<br />
<div class="row">
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(pt => pt.Name)
            </th>
            <th>
                @Html.DisplayNameFor(pt => pt.Price)
            </th>
            <th>
                @Html.DisplayNameFor(pt => pt.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(pt => pt.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(pt => pt.ProductTypeId)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td>@item.ProductColor</td>
        <td>@item.IsAvailable</td>
        <td>@item.ProductTypes.ProductType</td>
        <td>
            <partial name="_ButtonPartial" model="@item.Id" />
        </td>
    </tr>
        }
    </table>
</div>

@section scripts{
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]';
            if (save != null) {
                alertify.success(save)
            }
        })
    </script>
}
